{% extends "base.html" %} 
{% block title %}Home{% endblock %} 
{% block content %}
<div class="container text-center">
  <h1>Welcome, {{ user.first_name }}!</h1>
  <br>
  <h3>Choose an option:</h3>
  <br>
  <form method="POST">
    <input type="hidden" name="option" value="referee_game">
    <button type="submit" class="btn btn-primary">Referee a Game</button>
</form>
<form method="POST">
    <input type="hidden" name="option" value="train_player">
    <button type="submit" class="btn btn-primary">Train as a Player</button>
</form>
</div>
{% endblock %}


